<div class="row todo-item">
  <div class="col-md-6">
  <div class='todo completed_{{model.completed}}' data-speaker-id={{model.id}}>
      <div class="wrapper">
        <h3>{{model.text}}</h3>
          <br />
        {{model.description}}
      </div>
  </div>
  </div>
  <div class="col-md-6">
      <button {{action 'toggleTodo' model}} class="full-width">
          toggle State
      </button>
    notes
  </div>
</div>

{{#link-to 'index' class="button"}}back{{/link-to}}
