<div class="row todo-item">
  <div class="col-md-6">
  <div class='todo completed_{{model.completed}}' data-speaker-id={{model.id}}>
      <div class="wrapper">
        <h3>{{model.text}}</h3>
          <br />
        {{model.description}}
      </div>
  </div>
  </div>
  <div class="col-md-6">
     {{#link-to 'index' class="btn button full-width"}}back{{/link-to}}
      <button {{action 'toggleTodo' model}} class="btn full-width mt10">
          toggle State
      </button>
      <button {{action 'destroyTodo' model}} class="btn mt10 full-width">
          Delete
      </button>
    notes
  </div>
</div>


