<div class="row">
    <div class="col-md-12">
<div class="itemnav">
  {{#each todo in allItems}}
      <div  nav-id='{{todo.id}}'>
        {{#link-to 'todo.show' todo}}
              <div  class='active nav_completed_{{todo.completed}}' >
              </div>
        {{/link-to}}
      </div>
  {{/each}}<div style="clearfix"></div>
</div></div>
</div>


<div class="row todo-item mt10">
  <div class="col-md-9">
    <div class='todo todo-large completed_{{item.completed}}' data-speaker-id={{item.id}}>
        <div class="wrapper">
          <h3>{{view 'ember-contenteditable-view' editable=true value=item.text}}</h3>
        </div>
        {{view 'ember-contenteditable-view' plaintext=false editable=true value=item.description}}
      <hr />
      {{#each note in item.notes}}
        {{view 'ember-contenteditable-view' editable=true value=note.body}}<br />
      {{/each}}
      <br />
      <div class="small">{{item.createdAt}}</div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="btn-group btn-group-justified mt10">

        {{#if hasPrevious}}
            <a class="btn btn-default" {{action 'prev'}}>Previous</a>
        {{else}}
            <a class="btn btn-default disabled" >Previous</a>
        {{/if}}
        {{#link-to 'index' classNames="btn btn-default"}}Home{{/link-to}}
        {{#if hasNext}}
            <a class="btn btn-default" {{action 'next'}}>Next</a>
        {{else}}
            <a class="btn btn-default disabled" >Next</a>
        {{/if}}
      </div>
<<<<<<< HEAD
      {{#if item.completed}}
        <button {{action 'setUndone' }} class="btn full-width mt10 btn_task_{{item.completed}}">
            Set Task to Undone
        </button>
      {{else}}
        <button {{action 'setDone'}} class="btn full-width mt10 btn_task_{{item.completed}}">
            Set Task to Done
        </button>
      {{/if}}
      {{#if item.scheduledForMeeting}}
        <button {{action 'scheduleForMeeting' item false}} class="btn full-width mt10">
            Unschedule for Meeting
        </button>
      {{#if item.scheduledForMeeting}}
          <button {{action 'scheduleForMeeting' item false}} class="btn full-width mt10">
              Unschedule for Meeting
          </button>
      {{else}}
        <button {{action 'scheduleForMeeting' item true}} class="btn full-width mt10">
            Schedule for Meeting
        </button>
      {{/if}}
      <button {{action 'destroyTodo' item}} class="btn mt10 full-width">
          Delete
      </button>
      <button {{action 'addNote' item}} class="btn mt10 full-width">
          Add Note
      </button>
    {{view "select" content=priorities
    optionValuePath="content.value"
    optionLabelPath="content.name"
    value=item.prio
    class="full-width mt10"}}
    <br />
    {{bootstrap-datepicker class="full-width mt10" value=item.dueDate}}



  </div>
</div>
