<div class="container">
    <h2 id="title">Welcome to Ember Minutes</h2>
    {{#if flash}}
      <h2>{{flash}}</h2>
    {{/if}}

    {{#if accountService.hasValidSession}}
      <button {{action 'signOut'}}>
        Sign Out
      </button>

      <div class="row">
        {{#each todo in model}}
        <div class='col-md-3 todo'>
          <div class="wrapper">
            {{todo.text}}
            <br />
            <button {{action 'destroyTodo' todo}}>
              destroy
            </button>
          </div>
        </div>
        {{else}}
        <li>
          No todos
        </li>
        {{/each}}
      </div>

      <form {{action 'createTodo' on='submit'}}>
        {{input value=text}}
      </form>
    {{else}}
      <div>
        <div>
          <label for="email">
            Email
          </label>
          {{input value=user.email id="email"}}
        </div>
        <div>
          <label for="password">
            Password
          </label>
          {{input value=user.password id="password" type="password"}}
        </div>
        <button {{action 'signUp'}}>
          Sign Up
        </button>
        <button {{action 'signIn'}}>
          Sign In
        </button>
      </div>
    {{/if}}

    {{outlet}}
</div>
