<div class="container">
    {{#if flash}}
      <h2>{{flash}}</h2>
    {{/if}}

    {{#if accountService.hasValidSession}}
      <button {{action 'signOut'}}>
        Sign Out
      </button>

      <form {{action 'createTodo' on='submit'}}>
        {{input value=text}}
      </form>
    {{else}}
      <div>
        <div>
          <label for="email">
            Email
          </label>
          {{input value=user.email id="email"}}
          <label for="password">
            Password
          </label>
          {{input value=user.password id="password" type="password"}}
          <button {{action 'signUp'}}>
            Sign Up
          </button>
          <button {{action 'signIn'}}>
            Sign In
          </button>
        </div>
      </div>
    {{/if}}

    {{liquid-outlet}}
</div>
