<div class="container">
    <h2 id="title">Welcome to Ember Minutes</h2>
    {{#if flash}}
      <h2>{{flash}}</h2>
    {{/if}}

    {{#if accountService.hasValidSession}}
      <button {{action 'signOut'}}>
        Sign Out
      </button>



      <form {{action 'createTodo' on='submit'}}>
        {{input value=text}}
      </form>
    {{else}}
      <div>
        <div>
          <label for="email">
            Email
          </label>
          {{input value=user.email id="email"}}
        </div>
        <div>
          <label for="password">
            Password
          </label>
          {{input value=user.password id="password" type="password"}}
        </div>
        <button {{action 'signUp'}}>
          Sign Up
        </button>
        <button {{action 'signIn'}}>
          Sign In
        </button>
      </div>
    {{/if}}

    {{liquid-outlet}}
</div>
