<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

          {{#link-to 'index' classNames="navbar-brand"}}<img class="logo" src="ember-js-icon.png" alt="logo" />{{/link-to}}
          <span class="minutes-text">minutes</span>
        </div>

    <div class="navbar-right"><div class="titlebar">
  {{#if accountService.hasValidSession}}
      <button {{action 'createTodo'}}>
          New item
      </button>
      <button {{action 'signOut'}}>
          Sign Out
      </button>
  {{else}}

              <label for="email">
                  Email
              </label>
            {{input value=user.email id="email"}}
              <label for="password">
                  Password
              </label>
            {{input value=user.password id="password" type="password"}}
              <button {{action 'signUp'}}>
                  Sign Up
              </button>
              <button {{action 'signIn'}}>
                  Sign In
              </button>

  {{/if}}
        </div>   </div></div>
</nav>
<div class="container">
    <header class="header">
    {{#if flash}}
      <h2>{{flash}}</h2>
    {{/if}}

     </header>
    {{liquid-outlet}}
</div>
