<div class="row todo-list">
  {{#each todo in model}}
    <div class="col-md-6 col-lg-4">
      <div class='todo completed_{{todo.completed}}' data-speaker-id={{todo.id}} nav-id={{todo.id}}>
        {{#link-to 'todo.show' todo}}
          <div class="wrapper">
            <h3><div class="truncate">{{todo.text}}</div></h3>
          </div>
        {{/link-to}}

      </div>
    </div>
  {{else}}
      <li>
          No todos
      </li>
  {{/each}}
</div>


